
<app-banners></app-banners>

<ul class="nav nav-pills nav-fill btn-group">
    <li class="nav-item">
      <button class="btn btn-primary nav-link " aria-current="page" (click)="getProducts('men')">Mens</button>
    </li>
    <li class="nav-item">
      <button class="btn btn-primary nav-link" (click)="getProducts('women')">Womens</button>
    </li>
    <li class="nav-item">
      <button class="btn btn-primary nav-link" (click)="getProducts('kids')">Kids</button>
    </li>
    <li class="nav-item">
      <button class="btn btn-primary nav-link" (click)="getProducts('electronics')">Electronics</button>
    </li>
    <li class="nav-item">
        <button class="btn btn-primary nav-link" (click)="getProducts('utensils')">Home utensils</button>
      </li>
  </ul>
<app-item></app-item>