
<div class="wrapper">
    <div class="row">
    <div class="product-container col-md-6 mt-2">
    
    
        <!-- <div *ngFor="let item of details" class="col-md-4"> -->
       
          <img src="{{details[1]['imageUrl']}}" style="width: 350px; height: 450px;">
         
          
        <!-- </div> -->
      </div>
      <div class="col-md-4 mt-2">
        <p><b>Description : </b>{{details[1]['description']}}</p>
        <p><b>Price :  &#x20B9; {{details[1]['price']}}</b></p>
        <p><b>Rating : </b>{{details[1]['rating']}}</p>
        <p><b>Rating : </b>257 ratings <b> Reviews : </b>500 reviews</p>
        <p *ngIf = "details[1]['price']>=500"><b>Deliver : Free Deliver</b></p>
        <p *ngIf="details[1]['price']<500"><b>Deliver : 50 Rupeees</b></p>
        <button type="button" class="btn btn-success">ADD</button>
      </div>
    </div>
    </div>